h1{
    background-color: bisque;
    text-align: center;
}
body{
    background-color: darksalmon;
}
ul{

    text-align: left;
}
#tt{
    height: 27px;
    width: 251px;

    
}
#bat{
    height:33px;
    width: 47px;

}
div{
    margin-left:491px;
} 